# Dependencies
node_modules

# Build output
dist
dist-ssr
target/

# Maven
.mvn/wrapper/maven-wrapper.jar

# Editor directories
.DS_Store
.idea
.vscode
*.swp
*.swo
*.iws
*.iml
*.ipr

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Editor
*.sublime-workspace
*.sublime-project

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/

### Backend specific ###
HELP.md
